<template>
  <v-container
    id="report"
    fluid
    tag="section"
  >
    <base-material-card
      icon="mdi-clipboard-text"
      title="Relatório"
      class="px-5 py-3"
    >
      <v-form>
        <v-container class="py-0">
          <v-row>
            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                label="Data Inicial"
                value="01/03/2021"
              />
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                label="Data Final"
                value="31/03/2021"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                label="Banco"
                value="My Bank - Corrente"
              />
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-btn
                color="success"
                class="mr-0"
              >
                Buscar
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-simple-table>
        <thead>
          <tr>
            <th class="primary--text">
              Data
            </th>
            <th class="text-right primary--text">
              Saldo Inicial
            </th>
            <th class="text-right primary--text">
              Entradas
            </th>
            <th class="text-right primary--text">
              Saídas
            </th>
            <th class="text-right primary--text">
              Lucro / Prejuízo
            </th>
            <th class="text-right primary--text">
              Saldo Final
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="item in items"
            :key="item.id"
          >
            <td>{{ item.date }}</td>
            <td>R$ <span class="float-right">{{ item.openingBalance | formatPrice }}</span></td>
            <td>R$ <span class="float-right">{{ item.entrance | formatPrice }}</span></td>
            <td>R$ <span class="float-right">{{ item.exit | formatPrice }}</span></td>
            <td>R$ <span class="float-right">{{ item.profitLoss | formatPrice }}</span></td>
            <td>R$ <span class="float-right">{{ item.finalBalance | formatPrice }}</span></td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td />
            <td />
            <td />
            <td />
            <td class="text-h3 text-right">
              Saldo
            </td>
            <td class="text-h2">
              R$ <span class="float-right">{{ items[items.length - 1].finalBalance | formatPrice }}</span>
            </td>
          </tr>
        </tfoot>
      </v-simple-table>
    </base-material-card>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            id: 1,
            date: '01/03/21',
            openingBalance: 0,
            entrance: 1500,
            exit: 0,
            profitLoss: 1500,
            finalBalance: 1500,
          },
          {
            id: 2,
            date: '01/03/21',
            openingBalance: 1500,
            entrance: 0,
            exit: 60,
            profitLoss: 1440,
            finalBalance: 1440,
          },
          {
            id: 3,
            date: '01/03/21',
            openingBalance: 1440,
            entrance: 0,
            exit: 50,
            profitLoss: 1390,
            finalBalance: 1390,
          },
          {
            id: 4,
            date: '01/03/21',
            openingBalance: 1390,
            entrance: 0,
            exit: 100,
            profitLoss: 1290,
            finalBalance: 1290,
          },
          {
            id: 5,
            date: '01/03/21',
            openingBalance: 1290,
            entrance: 0,
            exit: 120,
            profitLoss: 1170,
            finalBalance: 1170,
          },
        ],
      }
    },
  }
</script>
