<template>
  <v-menu
    :ref="menu"
    v-model="isOpen"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="computedDateFormatted"
        :label="label"
        hint="formato DD/MM/YYYY"
        persistent-hint
        prepend-icon="mdi-calendar"
        v-bind="attrs"
        v-on="on"
        @blur="date = parseDate(date)"
      />
    </template>
    <v-date-picker
      v-model="date"
      no-title
      @input="onInput"
    />
  </v-menu>
</template>

<script>
  import { parseDateMixin } from '../../../../utils/mixins.js'

  export default {
    name: 'DatePicker',
    mixins: [parseDateMixin],
    props: {
      menu: {
        type: String,
        required: true,
      },
      value: {
        type: String,
        default: '',
      },
      label: {
        type: String,
        default: 'Date',
      },
    },
    data () {
      return {
        isOpen: false,
        today: new Date().toISOString().substr(0, 10),
      }
    },
    computed: {
      computedDateFormatted () {
        return this.formatDateToEdit(this.value)
      },
    },
    beforeMount () {
      if (!this.value) this.date = this.today
      else this.date = this.value
    },
    methods: {
      onInput () {
        this.$emit('input', this.date)
        this.isOpen = false
      },
    },
  }
</script>
