<template>
  <v-container
    id="list"
    fluid
    tag="section"
  >
    <base-material-card
      icon="mdi-clipboard-text"
      title="Bancos"
      class="px-5 py-3"
    >
      <v-simple-table>
        <thead>
          <tr>
            <th class="primary--text">
              Nome
            </th>
            <!-- <th class="text-right primary--text">
              Editar
            </th> -->
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="item in items"
            :key="item.id"
          >
            <td>
              {{ item.name }}
            </td>
            <!-- <td class="text-right">
              <v-icon
                class="mx-1"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
            </td> -->
          </tr>
        </tbody>
      </v-simple-table>
    </base-material-card>

    <v-dialog
      v-model="dialog"
      max-width="800"
      @click:outside="clearModal"
    >
      <v-card class="text-center">
        <v-card-title>
          Editar Banco

          <v-spacer />

          <v-icon
            aria-label="Close"
            @click="dialog = false"
          >
            mdi-close
          </v-icon>
        </v-card-title>

        <v-form>
          <v-container class="py-0">
            <v-row>
              <v-col
                cols="12"
                md="4"
              >
                <v-text-field
                  v-model="editingItem.due_date"
                  label="Data de Vencimento"
                  class="purple-input"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-text-field
                  label="Mês de Referência"
                  class="purple-input"
                  type="number"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-text-field
                  label="Data de Pagamento"
                  class="purple-input"
                />
              </v-col>

              <v-col
                cols="12"
                md="2"
              >
                <v-text-field
                  v-model="editingItem.quantity"
                  label="Quantidade"
                  class="purple-input"
                  type="number"
                />
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-text-field
                  v-model="editingItem.description"
                  label="Descrição"
                  class="purple-input"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-text-field
                  v-model="editingItem.value"
                  label="Valor"
                  class="purple-input"
                  type="number"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-select
                  label="Recebido de/Pago a"
                  :items="persons"
                  item-text="name"
                  item-value="id"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-select
                  label="Categoria"
                  :items="categories"
                  item-text="name"
                  item-value="id"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-text-field
                  label="Consumo"
                  class="purple-input"
                  type="number"
                />
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-file-input
                  label="Comprovante"
                />
              </v-col>

              <v-col
                cols="12"
                md="6"
              >
                <v-select
                  label="Conta Bancária"
                  :items="bank_accounts"
                  item-text="name"
                  item-value="id"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-checkbox
                  label="Previsto"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-checkbox
                  v-model="editingItem.paid"
                  label="Pago"
                />
              </v-col>

              <v-col
                cols="12"
                md="4"
              >
                <v-checkbox
                  label="Fixa"
                />
              </v-col>

              <v-col
                cols="12"
                class="text-right"
              >
                <v-btn
                  text
                  class="mr-5"
                  @click="dialog = false"
                >
                  Cancelar
                </v-btn>
                <v-btn
                  color="success"
                  class="mr-0"
                  @click="dialog = false"
                >
                  Salvar
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
    </v-dialog>

    <div class="py-3" />
  </v-container>
</template>

<script>
  import axios from 'axios'
  const endpoint = 'http://localhost:3000'

  export default {
    data () {
      return {
        dialog: false,
        defaultEditing: {},
        editingItem: {},
        items: [],
      }
    },
    mounted () {
      axios.get(endpoint + '/bankaccounts')
        .then(response => {
          this.items = response.data
        })
    },
    methods: {
      openModal () {
        this.dialog = true
      },
      clearModal () {
        this.dialog = false
        this.editingItem = { ...this.defaultEditing }
      },
      editItem (item) {
        this.dialog = true
        this.editingItem = { ...item }
      },
    },
  }
</script>
