<template>
  <v-container
    id="list"
    fluid
    tag="section"
  >
    <base-material-card
      icon="mdi-clipboard-text"
      title="Dívidas"
      class="px-5 py-3"
    >
      <template v-slot:end-heading>
        <v-btn
          color="success"
          class="mr-0"
          @click="openModal"
        >
          Adicionar
        </v-btn>
      </template>
      <v-simple-table>
        <thead>
          <tr>
            <th class="primary--text">
              Data
            </th>
            <th class="primary--text">
              Tempo
            </th>
            <th class="text-right primary--text">
              Valor
            </th>
            <th class="primary--text">
              Pagar/Receber
            </th>
            <th class="primary--text">
              Pago
            </th>
            <th class="primary--text">
              Data de Pagamento
            </th>
            <th class="primary--text">
              Recebido de / Pago a
            </th>
            <th class="text-right primary--text">
              Editar
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="item in items"
            :key="item.id"
          >
            <td>
              {{ item.due_date | formatDate }}
            </td>
            <td>
              {{ item.time_spent }}
            </td>
            <td>
              R$ <span class="float-right">{{ item.value | formatPrice }}</span>
            </td>
            <td>
              <v-checkbox
                v-model="item.paid_or_receive"
                :disabled="true"
              />
            </td>
            <td>
              <v-checkbox
                v-model="item.paid"
                :disabled="true"
              />
            </td>
            <td>
              {{ item.payment_date | formatDate }}
            </td>
            <td>
              {{ item.customer.name }}
            </td>
            <td class="text-right">
              <v-icon
                class="mx-1"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </base-material-card>

    <v-dialog
      v-model="dialog"
      max-width="800"
      @click:outside="clearModal"
      @keydown.esc="clearModal"
    >
      <v-card class="text-center">
        <v-card-title>
          {{ modalTitle }} Dívida

          <v-spacer />

          <v-icon
            aria-label="Close"
            @click="dialog = false"
          >
            mdi-close
          </v-icon>
        </v-card-title>

        <debtForms
          :editing-item="editingItem"
          :customers="customers"
          @closeModal="closeModal"
          @itemToSave="saveItem"
        />
      </v-card>
    </v-dialog>

    <div class="py-3" />
  </v-container>
</template>

<script>
  import axios from 'axios'
  import { parseDateMixin } from '../../../utils/mixins.js'

  const endpoint = 'http://localhost:3000'

  export default {
    components: {
      debtForms: () => import('../components/DebtForms'),
    },
    mixins: [parseDateMixin],
    data () {
      return {
        dialog: false,
        modalTitle: 'Adicionar',
        defaultEditing: {
          due_date: '',
          time_spent: '',
          payment_date: '',
          observation: '',
          value: '',
          customerId: null,
          paid_or_receive: null,
          paid: null,
        },
        editingItem: {},
        items: [],
        customers: [],
      }
    },
    mounted () {
      this.get_data()
    },
    methods: {
      get_data () {
        axios.get(endpoint + '/customers')
          .then(response => {
            this.customers = response.data
          })
        axios.get(endpoint + '/debts?_expand=customer')
          .then(response => {
            this.items = response.data
          })
      },
      openModal () {
        this.modalTitle = 'Adicionar'
        this.dialog = true
      },
      clearModal () {
        this.editingItem = { ...this.defaultEditing }
      },
      closeModal (value) {
        this.dialog = value
        this.clearModal()
      },
      editItem (item) {
        this.modalTitle = 'Editar'
        this.dialog = true
        this.editingItem = {
          ...item,
          quantity: 1,
        }
      },
      addItemSaved (response) {
        const newItem = response.data
        newItem.customer = this.customers.find(c => c.id === newItem.customerId)

        this.items.push(newItem)

        this.dialog = false
        this.clearModal()
      },
      updateItemSaved (response, item) {
        const newItem = response.data
        newItem.customer = this.customers.find(c => c.id === newItem.customerId)

        const index = this.items.findIndex(i => i.id === item.id)
        this.items[index] = newItem

        this.dialog = false
        this.clearModal()
      },
      saveItem () {
        const item = this.editingItem

        // parseDate
        item.due_date = this.parseDate(item.due_date)
        item.payment_date = this.parseDate(item.payment_date)

        item.quantity = 1

        delete item.customer

        if (!item.id) {
          axios.post(endpoint + '/debts', item)
            .then(response => {
              this.addItemSaved(response)
            })
        } else {
          axios.put(endpoint + `/debts/${item.id}`, item)
            .then(response => {
              this.updateItemSaved(response, item)
            })
        }
        this.clearModal()
      },
    },
  }
</script>
