<template>
  <v-container
    id="detail"
    fluid
    tag="section"
  >
    <base-material-card>
      <template v-slot:heading>
        <div class="text-h3 font-weight-light">
          Criar Despesa
        </div>

        <!-- <div class="text-subtitle-1 font-weight-light">
          Complete your profile
        </div> -->
      </template>

      <v-form>
        <v-container class="py-0">
          <v-row>
            <v-col
              cols="12"
              md="4"
            >
              <v-menu
                ref="menu1"
                v-model="menu1"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="editingItem.due_date"
                    label="Data de Vencimento"
                    hint="formato DD/MM/YYYY"
                    persistent-hint
                    prepend-icon="mdi-calendar"
                    v-bind="attrs"
                    @blur="date = parseDate(editingItem.due_date)"
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="pickerDueDate"
                  no-title
                  @input="menu1 = false"
                />
              </v-menu>
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                v-model="editingItem.month_ref"
                label="Mês de Referência"
                class="purple-input"
                type="number"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-menu
                ref="menu2"
                v-model="menu2"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="editingItem.payment_date"
                    label="Data de Pagamento"
                    hint="formato DD/MM/YYYY"
                    persistent-hint
                    prepend-icon="mdi-calendar"
                    v-bind="attrs"
                    @blur="date = parseDate(editingItem.payment_date)"
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="pickerPaymentDate"
                  no-title
                  @input="menu2 = false"
                />
              </v-menu>
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                v-model="editingItem.quantity"
                label="Quantidade"
                class="purple-input"
                type="number"
              />
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field
                v-model="editingItem.description"
                label="Descrição"
                class="purple-input"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                v-model="editingItem.value"
                label="Valor"
                class="purple-input"
                type="number"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-select
                v-model="editingItem.customer"
                label="Recebido de/Pago a"
                :items="customers"
                item-text="name"
                item-value="id"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-select
                v-model="editingItem.category"
                label="Categoria"
                :items="categories"
                item-text="name"
                item-value="id"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                v-model="editingItem.consumption"
                label="Consumo"
                class="purple-input"
                type="number"
              />
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-file-input
                v-model="editingItem.document"
                label="Comprovante"
              />
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-select
                v-model="editingItem.bankaccount"
                label="Conta Bancária"
                :items="bankaccounts"
                item-text="name"
                item-value="id"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-checkbox
                v-model="editingItem.provided"
                label="Previsto"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-checkbox
                v-model="editingItem.paid"
                label="Pago"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-checkbox
                v-model="editingItem.fix"
                label="Fixa"
              />
            </v-col>

            <v-col
              cols="12"
              class="text-right"
            >
              <v-btn
                color="success"
                class="mr-0"
                @click="saveItem"
              >
                Salvar
              </v-btn>
            </v-col>

            <v-row>
              <v-col
                cols="12"
              >
                <v-card>
                  <v-card-text>
                    <base-subheading subheading="Itens da Despesa" />

                    <v-simple-table>
                      <thead>
                        <tr>
                          <th class="text-center primary--text">
                            Item
                          </th>
                          <th class="text-center primary--text">
                            Quantidade
                          </th>
                          <th class="primary--text">
                            Descrição
                          </th>
                          <th class="text-right primary--text">
                            Valor
                          </th>
                          <th class="text-right primary--text">
                            Subtotal
                          </th>
                          <th class="text-right primary--text">
                            Ações
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr
                          v-for="(item, idx) in items"
                          :key="item.id"
                        >
                          <td class="text-center">
                            {{ idx + 1 }}
                          </td>
                          <td class="text-center">
                            {{ item.quantity }}
                          </td>
                          <td>{{ item.description }}</td>
                          <td>
                            R$ <span class="float-right">{{ item.value | formatPrice }}</span>
                          </td>
                          <td>
                            R$ <span class="float-right">{{ item.quantity * item.value | formatPrice }}</span>
                          </td>
                          <td class="text-right">
                            <v-icon
                              class="mx-1"
                              style="color: red"
                            >
                              mdi-close
                            </v-icon>
                          </td>
                        </tr>
                        <tr>
                          <td />
                          <td>
                            <v-text-field placeholder="Quantidade" />
                          </td>
                          <td>
                            <v-text-field placeholder="Descrição" />
                          </td>
                          <td>
                            <v-text-field placeholder="Valor" />
                          </td>
                          <td />
                          <td>
                            <v-icon
                              class="mx-1"
                              style="color: green"
                            >
                              mdi-plus
                            </v-icon>
                          </td>
                        </tr>
                      </tbody>

                      <tfoot>
                        <tr>
                          <td />
                          <td />
                          <td />
                          <td class="text-h4 text-right">
                            Total
                          </td>
                          <td
                            class="text-h3"
                            style="min-width: 180px"
                          >
                            R$ <span class="float-right">{{ total | formatPrice }}</span>
                          </td>
                          <td />
                        </tr>
                      </tfoot>
                    </v-simple-table>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-row>
        </v-container>
      </v-form>
    </base-material-card>
  </v-container>
</template>

<script>
  import axios from 'axios'
  import { parseDateMixin } from '../../../utils/mixins.js'

  const endpoint = 'http://localhost:3000'

  export default {
    mixins: [parseDateMixin],
    data () {
      return {
        editingItem: {
          quantity: 1,
          due_date: this.formatDateToEdit(new Date().toISOString().substr(0, 10)),
          payment_date: this.formatDateToEdit(new Date().toISOString().substr(0, 10)),
        },
        customers: [],
        categories: [],
        bankaccounts: [],
        items: [],
        pickerDueDate: new Date().toISOString().substr(0, 10),
        pickerPaymentDate: new Date().toISOString().substr(0, 10),
        menu1: false,
        menu2: false,
      }
    },
    computed: {
      total () {
        return this.items.reduce((prev, curr) => {
          return prev + (curr.quantity * curr.value)
        }, 0).toFixed(2)
      },
    },
    watch: {
      pickerDueDate (val) {
        this.editingItem.due_date = this.formatDateToEdit(this.pickerDueDate)
      },
      pickerPaymentDate (val) {
        this.editingItem.payment_date = this.formatDateToEdit(this.pickerPaymentDate)
      },
    },
    mounted () {
      axios.get(endpoint + '/customers')
        .then(response => {
          this.customers = response.data
        })
      axios.get(endpoint + '/categories')
        .then(response => {
          this.categories = response.data
        })
      axios.get(endpoint + '/bankaccounts')
        .then(response => {
          this.bankaccounts = response.data
        })
    },
    methods: {
      saveItem () {
        const payload = this.editingItem

        // parseDate
        payload.due_date = this.parseDate(payload.due_date)
        payload.payment_date = this.parseDate(payload.payment_date)

        // Rename key
        // https://stackoverflow.com/a/56122079
        const rename = ({ customer: customerId, category: categoryId, bankaccount: bankaccountId, ...rest }) => ({ customerId, categoryId, bankaccountId, ...rest })
        if (!payload.id) {
          axios.post(endpoint + '/expenses', rename(payload))
            .then(response => {
              this.$router.push({ path: '/pages/bills-to-pay' })
            })
        }
      },
    },
  }
</script>
