<template>
  <v-container
    id="list"
    fluid
    tag="section"
  >
    <base-material-card
      icon="mdi-clipboard-text"
      title="Tipos de Despesas"
      class="px-5 py-3"
    >
      <template v-slot:end-heading>
        <v-btn
          color="success"
          class="mr-0"
          @click="openModal"
        >
          Adicionar
        </v-btn>
      </template>
      <v-simple-table>
        <thead>
          <tr>
            <th class="primary--text">
              Descrição
            </th>
            <th class="primary--text">
              Categoria
            </th>
            <th class="primary--text">
              Fixa
            </th>
            <th class="text-right primary--text">
              Editar
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="item in items"
            :key="item.id"
          >
            <td>
              {{ item.description }}
            </td>
            <td>
              {{ item.category.name }}
            </td>
            <td>
              <v-checkbox
                v-model="item.fix"
                :disabled="true"
              />
            </td>
            <td class="text-right">
              <v-icon
                class="mx-1"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </base-material-card>

    <v-dialog
      v-model="dialog"
      max-width="800"
      @click:outside="clearModal"
      @keydown.esc="clearModal"
    >
      <v-card class="text-center">
        <v-card-title>
          {{ modalTitle }} Tipo de Despesa

          <v-spacer />

          <v-icon
            aria-label="Close"
            @click="dialog = false"
          >
            mdi-close
          </v-icon>
        </v-card-title>

        <expenseTypeForms
          :editing-item="editingItem"
          :categories="categories"
          @closeModal="closeModal"
          @itemToSave="saveItem"
        />
      </v-card>
    </v-dialog>

    <div class="py-3" />
  </v-container>
</template>

<script>
  import axios from 'axios'
  const endpoint = 'http://localhost:3000'

  export default {
    components: {
      // lazy load
      expenseTypeForms: () => import('../components/ExpenseTypeForms'),
    },
    data () {
      return {
        dialog: false,
        modalTitle: 'Adicionar',
        defaultEditing: {
          description: '',
          categoryId: null,
          fix: '',
        },
        editingItem: {},
        items: [],
        categories: [],
      }
    },
    mounted () {
      this.get_data()
    },
    methods: {
      get_data () {
        axios.get(endpoint + '/categories')
          .then(response => {
            this.categories = response.data
          })
        axios.get(endpoint + '/expense-types?_expand=category')
          .then(response => {
            this.items = response.data
          })
      },
      openModal () {
        this.modalTitle = 'Adicionar'
        this.dialog = true
      },
      clearModal () {
        this.editingItem = { ...this.defaultEditing }
      },
      closeModal (value) {
        this.dialog = value
        this.clearModal()
      },
      editItem (item) {
        this.modalTitle = 'Editar'
        this.dialog = true
        this.editingItem = { ...item }
      },
      addItemSaved (response) {
        const newItem = response.data
        newItem.category = this.categories.find(c => c.id === newItem.categoryId)

        this.items.push(newItem)

        this.dialog = false
        this.clearModal()
      },
      updateItemSaved (response, item) {
        const newItem = response.data
        newItem.category = this.categories.find(c => c.id === newItem.categoryId)

        const index = this.items.findIndex(i => i.id === item.id)
        this.items[index] = newItem

        this.dialog = false
        this.clearModal()
      },
      saveItem () {
        // Rename key
        // https://stackoverflow.com/a/56122079
        // const rename = ({ category: categoryId, ...rest }) => ({ categoryId, ...rest })
        const item = this.editingItem

        delete item.category

        if (!item.id) {
          axios.post(endpoint + '/expense-types', item)
            .then(response => {
              this.addItemSaved(response)
            })
        } else {
          axios.put(endpoint + `/expense-types/${item.id}`, item)
            .then(response => {
              this.updateItemSaved(response, item)
            })
        }
      },
    },
  }
</script>
