<template>
  <v-container
    id="detail"
    fluid
    tag="section"
  >
    <base-material-card>
      <template v-slot:heading>
        <div class="text-h3 font-weight-light">
          Editar Despesa
        </div>

        <div class="text-subtitle-1 font-weight-light">
          Complete your profile
        </div>
      </template>

      <v-form>
        <v-container class="py-0">
          <v-row>
            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                v-model="editingItem.due_date"
                label="Data de Vencimento"
                class="purple-input"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                label="Mês de Referência"
                class="purple-input"
                type="number"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                label="Data de Pagamento"
                class="purple-input"
              />
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-text-field
                v-model="editingItem.quantity"
                label="Quantidade"
                class="purple-input"
                type="number"
              />
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-text-field
                v-model="editingItem.description"
                label="Descrição"
                class="purple-input"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                v-model="editingItem.value"
                label="Valor"
                class="purple-input"
                type="number"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-select
                label="Recebido de/Pago a"
                :items="persons"
                item-text="name"
                item-value="id"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-select
                label="Categoria"
                :items="categories"
                item-text="name"
                item-value="id"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-text-field
                label="Consumo"
                class="purple-input"
                type="number"
              />
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-file-input
                label="Comprovante"
              />
            </v-col>

            <v-col
              cols="12"
              md="6"
            >
              <v-select
                label="Conta Bancária"
                :items="bank_accounts"
                item-text="name"
                item-value="id"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-checkbox
                label="Previsto"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-checkbox
                v-model="editingItem.paid"
                label="Pago"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-checkbox
                label="Fixa"
              />
            </v-col>

            <v-col
              cols="12"
              class="text-right"
            >
              <v-btn
                color="success"
                class="mr-0"
                @click="dialog = false"
              >
                Salvar
              </v-btn>
            </v-col>

            <v-row>
              <v-col
                cols="12"
              >
                <v-card>
                  <v-card-text>
                    <base-subheading subheading="Itens da Despesa" />

                    <v-simple-table>
                      <thead>
                        <tr>
                          <th class="text-center primary--text">
                            Item
                          </th>
                          <th class="text-center primary--text">
                            Quantidade
                          </th>
                          <th class="primary--text">
                            Descrição
                          </th>
                          <th class="text-right primary--text">
                            Valor
                          </th>
                          <th class="text-right primary--text">
                            Subtotal
                          </th>
                          <th class="text-right primary--text">
                            Ações
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr
                          v-for="(item, idx) in items"
                          :key="item.id"
                        >
                          <td class="text-center">
                            {{ idx + 1 }}
                          </td>
                          <td class="text-center">
                            {{ item.quantity }}
                          </td>
                          <td>{{ item.description }}</td>
                          <td>
                            R$ <span class="float-right">{{ item.value | formatPrice }}</span>
                          </td>
                          <td>
                            R$ <span class="float-right">{{ item.quantity * item.value | formatPrice }}</span>
                          </td>
                          <td class="text-right">
                            <v-icon
                              class="mx-1"
                              style="color: red"
                            >
                              mdi-close
                            </v-icon>
                          </td>
                        </tr>
                        <tr>
                          <td />
                          <td>
                            <v-text-field placeholder="Quantidade" />
                          </td>
                          <td>
                            <v-text-field placeholder="Descrição" />
                          </td>
                          <td>
                            <v-text-field placeholder="Valor" />
                          </td>
                          <td />
                          <td>
                            <v-icon
                              class="mx-1"
                              style="color: green"
                            >
                              mdi-plus
                            </v-icon>
                          </td>
                        </tr>
                      </tbody>

                      <tfoot>
                        <tr>
                          <td />
                          <td />
                          <td />
                          <td class="text-h4 text-right">
                            Total
                          </td>
                          <td
                            class="text-h3"
                            style="min-width: 180px"
                          >
                            R$ <span class="float-right">{{ total | formatPrice }}</span>
                          </td>
                          <td />
                        </tr>
                      </tfoot>
                    </v-simple-table>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-row>
        </v-container>
      </v-form>
    </base-material-card>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        editingItem: {
          due_date: '27/03/21',
          description: 'salário',
          quantity: 1,
          value: 1542.58,
          paid: true,
        },
        persons: [
          {
            id: 1,
            name: 'Huguinho',
          },
          {
            id: 2,
            name: 'Zezinho',
          },
          {
            id: 3,
            name: 'Luizinho',
          },
        ],
        categories: [
          {
            id: 1,
            name: 'almoço',
          },
          {
            id: 2,
            name: 'consumo',
          },
          {
            id: 3,
            name: 'supermercado',
          },
        ],
        bank_accounts: [
          {
            id: 1,
            name: 'My Money - Corrente',
          },
          {
            id: 2,
            name: 'My Bank - Corrente',
          },
          {
            id: 3,
            name: 'Other Bank - Poupança',
          },
        ],
        items: [
          {
            id: 1,
            quantity: 3,
            description: 'Arroz',
            value: 8.5,
          },
          {
            id: 2,
            quantity: 4,
            description: 'Feijão',
            value: 9.5,
          },
          {
            id: 3,
            quantity: 1,
            description: 'Óleo vegetal',
            value: 2.9,
          },
          {
            id: 4,
            quantity: 2,
            description: 'Macarrão',
            value: 3.7,
          },
          {
            id: 5,
            quantity: 3,
            description: 'Molho de tomate',
            value: 4,
          },
          {
            id: 6,
            quantity: 1,
            description: 'Queijo ralado',
            value: 8.15,
          },
          {
            id: 7,
            quantity: 2,
            description: 'Refrigerante',
            value: 7.9,
          },
        ],
      }
    },
    computed: {
      total () {
        return this.items.reduce((prev, curr) => {
          return prev + (curr.quantity * curr.value)
        }, 0).toFixed(2)
      },
    },
  }
</script>
