<template>
  <v-container
    id="report"
    fluid
    tag="section"
  >
    <base-material-card
      icon="mdi-clipboard-text"
      title="Fluxo de Caixa"
      class="px-5 py-3"
    >
      <v-form>
        <v-container class="py-0">
          <v-row>
            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                label="Data Inicial"
                value="01/03/2021"
              />
            </v-col>

            <v-col
              cols="12"
              md="3"
            >
              <v-text-field
                label="Data Final"
                value="31/03/2021"
              />
            </v-col>

            <v-col
              cols="12"
              md="4"
            >
              <v-select
                label="Banco"
                :items="bank_accounts"
                item-text="name"
                item-value="id"
              />
            </v-col>

            <v-col
              cols="12"
              md="2"
            >
              <v-btn
                color="success"
                class="mr-0"
              >
                Buscar
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
      <v-simple-table>
        <thead>
          <tr>
            <th class="primary--text">
              Data
            </th>
            <th class="text-right primary--text">
              Saldo Inicial
            </th>
            <th class="text-right primary--text">
              Entradas
            </th>
            <th class="text-right primary--text">
              Saídas
            </th>
            <th class="text-right primary--text">
              Lucro / Prejuízo
            </th>
            <th class="text-right primary--text">
              Saldo Final
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            v-for="item in items"
            :key="item.id"
          >
            <td>{{ item.date }}</td>
            <td>R$ <span class="float-right">{{ item.opening_balance | formatPrice }}</span></td>
            <td>R$ <span class="float-right">{{ item.inflows | formatPrice }}</span></td>
            <td>R$ <span class="float-right">{{ item.outflows | formatPrice }}</span></td>
            <td>R$ <span class="float-right">{{ item.profit_loss | formatPrice }}</span></td>
            <td>R$ <span class="float-right">{{ item.closing_balance | formatPrice }}</span></td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td />
            <td />
            <td />
            <td />
            <td class="text-h3 text-right">
              Saldo
            </td>
            <td class="text-h2">
              R$ <span class="float-right">{{ items[items.length - 1].closing_balance | formatPrice }}</span>
            </td>
          </tr>
        </tfoot>
      </v-simple-table>
    </base-material-card>
  </v-container>
</template>

<script>
  import axios from 'axios'
  const endpoint = 'http://localhost:3000'

  export default {
    data () {
      return {
        dialog: false,
        editingItem: {},
        items: [],
        bank_accounts: [],
      }
    },
    mounted () {
      axios.get(endpoint + '/bank-accounts')
        .then(response => {
          this.bank_accounts = response.data
        })
      axios.get(endpoint + '/chash-flow')
        .then(response => {
          this.items = response.data
        })
    },
    methods: {
      editItem (item) {
        this.dialog = true
        this.editingItem = { ...item }
      },
    },
  }
</script>
