<template>
  <v-form>
    <v-container class="py-0">
      <v-row>
        <v-col
          cols="12"
          md="4"
        >
          <datePicker
            v-model="editingItem.due_date"
            menu="menu1"
            label="Data de Vencimento"
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="editingItem.time_spent"
            label="Tempo"
            class="purple-input"
            type="number"
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <datePicker
            v-model="editingItem.payment_date"
            menu="menu2"
            label="Data de Pagamento"
          />
        </v-col>

        <v-col
          cols="12"
          md="8"
        >
          <v-text-field
            v-model="editingItem.observation"
            label="Observação"
            class="purple-input"
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-text-field
            v-model="editingItem.value"
            label="Valor"
            class="purple-input"
            type="number"
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-select
            v-model="editingItem.customerId"
            label="Recebido de/Pago a"
            :items="customers"
            item-text="name"
            item-value="id"
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-checkbox
            v-model="editingItem.paid_or_receive"
            label="Pagar/Receber"
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-checkbox
            v-model="editingItem.paid"
            label="Pago"
          />
        </v-col>

        <v-col
          cols="12"
          class="text-right"
        >
          <v-btn
            text
            class="mr-5"
            @click="clearModal"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="success"
            class="mr-0"
            @click="saveItem"
          >
            Salvar
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
  import { parseDateMixin } from '../../../utils/mixins.js'

  export default {
    name: 'DebtForms',
    components: {
      datePicker: () => import('./UI/BaseDatePicker'),
    },
    mixins: [parseDateMixin],
    props: {
      editingItem: {
        type: Object,
        default: () => ({}),
      },
      customers: {
        type: Array,
        default: () => ([]),
      },
    },
    methods: {
      clearModal () {
        this.$emit('closeModal', false)
      },
      saveItem () {
        this.$emit('itemToSave')
      },
    },
  }
</script>
