<template>
  <v-form>
    <v-container class="py-0">
      <v-row>
        <v-col
          cols="12"
          md="8"
        >
          <v-text-field
            v-model="editingItem.description"
            label="Descrição"
            class="purple-input"
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-select
            v-model="editingItem.categoryId"
            label="Categoria"
            :items="categories"
            item-text="name"
            item-value="id"
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <v-checkbox
            v-model="editingItem.fix"
            label="Fixa"
          />
        </v-col>

        <v-col
          cols="12"
          class="text-right"
        >
          <v-btn
            text
            class="mr-5"
            @click="clearModal"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="success"
            class="mr-0"
            @click="saveItem"
          >
            Salvar
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
  export default {
    name: 'ExpenseTypeForms',
    props: {
      editingItem: {
        type: Object,
        default: () => ({}),
      },
      categories: {
        type: Array,
        default: () => ([]),
      },
    },
    methods: {
      clearModal () {
        this.$emit('closeModal', false)
      },
      saveItem () {
        this.$emit('itemToSave')
      },
    },
  }
</script>
